body {
  background-color: grey;
}

.formulário {
  background-color: royalblue;
  border: 3px solid black;
  border-radius: 3%;
  display: flexbox;
  padding: 1%;
  width: 225px;
}

.cartão {
  background-color: #f77f00;
  border: 3px solid black;
  border-radius: 3%;
  height: 320px;
  padding: 1%;
  width: 225px;
}

.mainCards {
  display: inline-flex;
}

.image {
  width: 200px;
}
