body {
    background-color: grey;
}

#root {
    display: flexbox;
}

.formulário {
    width: 200px;
    border: 3px solid black;
    padding: 1%;
    border-radius: 3%;
    column-count: 1;
    display: flexbox;
    background-color: royalblue;
}

.cartão {
    width: 200px;
    height: 320px;
    border: 3px solid black;
    padding: 1%;
    border-radius: 3%;
}

.mainCards {
    display: inline-flex;
}
