body {
  background-color: grey;
}

.formulário {
  border: 3px solid black;
  width: 225px;
  border-radius: 3%;
  padding: 1%;
  background-color: royalblue;
  display: flexbox;
}

.cartão {
  border: 3px solid black;
  height: 320px;
  width: 225px;
  border-radius: 3%;
  padding: 1%;
  background-color: #f77f00;
}

.mainCards {
  display: inline-flex;
}

#image {
  width: 200px;
}
